{% extends 'worldometers/base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:15px ;padding-left: 50px">
<h1>Coronavirus Cases:</h1>
    <div class="maincounter-number" style="padding-left: 50px">
        <span style="color:#aaa; font-size:40px;">{{totalNum}}</span>
    </div>
</div>

<div style="margin-top:15px ;padding-left: 50px">
    <h1>Death Cases:</h1>
    <div class="maincounter-number" style="padding-left: 50px;">
        <span style="color:#aaa; font-size:40px;">{{deathNum}}</span>
    </div>
</div>

<div style="margin-top:15px ;padding-left: 50px;">
    <h1>Recoverd Cases:</h1>
    <div class="maincounter-number" style="padding-left: 50px;">
        <span style="color:#aaa; font-size:40px;">{{recoverdNum}}</span>
    </div>
</div>
{% endblock content %}